<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A-Frame City</title>
    <meta name="description" content="A-Frame City">
    <script src="lib/aframe.min.js"></script>
    <script src="lib/aframe-template-component.min.js"></script>
    <script src="components/geometry-merge.js"></script>
    <script src="shaders/sky.js"></script>
    <script src="shaders/street.js"></script>
  </head>
  <body>
    <a-scene stats>
      <a-assets>
        <a-mixin id="street" geometry="primitive: box; depth: 50; height: 0.1; width: 10"
                             geometry-merge="city"
                             material="shader: street"></a-mixin>

        <script id="streets" type="text/x-nunjucks-template">
          {% for x in range(10) %}
            {% for z in range(10) %}
              <a-entity mixin="street" position="{{ x * blocksize }} 0 {{ z * blocksize }}"></a-entity>
              <a-entity mixin="street" position="{{ x * blocksize }} 0 {{ z * blocksize }}"
                                       rotation="0 90 0"></a-entity>
            {% endfor %}
          {% endfor %}
        </script>
      </a-assets>

      <a-sky material="shader: sky"></a-sky>

      <a-entity template="src: #streets" data-blocksize="50"></a-entity>
    </a-scene>
  </body>
</html>
